modal-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	pointer-events: none;
}

/* transparent background */
modal-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
	transition: all 300ms ease-out;
	background-color: rgba(20, 23, 26, 0.4);
	backdrop-filter: blur(2px) saturate(120%);
}

modal-content {
	display: block;
	opacity: 0;
	background: white;
}

modal-panel[aria-hidden='false'] {
	pointer-events: all;
}

modal-panel[aria-hidden='false'] modal-overlay {
	pointer-events: all;
	opacity: 1;
	transform: scale(1);
	filter: blur(0px);
}

modal-panel[aria-hidden='false'] modal-content {
	opacity: 1;
	z-index: 10;
	transform: scale(1);
	filter: blur(0px);
}
